<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projektlodowka">

    <application
        android:allowBackup="true"
        android:icon="@drawable/efrigde"
        android:label="@string/app_name"
        android:roundIcon="@drawable/efrigde"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".HistoriaActivity"></activity>
        <activity android:name=".settings" />
        <activity android:name=".ustawienia_activity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecyclerProduktyAdapter" />
    </application>

</manifest>